//Color Variables//

$base-color-1: #927bc1;
$base-color-2: #fd7856;
$base-color-3: #deb2ee;
$base-color-4: #7ee6fd;
$base-color-5: #88d9a0;
$base-color-6: #4da2bb;
$base-color-7: #ec9fa3;
$base-color-8: #fd9f85;
$base-color-9: #e4757a;
$base-color-10: #63cc82;
$base-color-11: #51ddfc;
$base-color-12: #80e8d1;
$base-color-13: #58e1c1;
$base-color-14: #ccc;
$base-color-15: #777;
$base-color-16: #58e1c1;
$base-color-17: #fff;

//Media Query Breakpoints//

$break: 768px;